doctype html
html
  head
    title= title
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel='stylesheet', href='/materialize/css/materialize.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav(class="cyan darken-4")
      div(class="nav-wrapper")
        a(href="#" class="brand-logo center") Chart the Stock Market

    div(id="main" class="container")
      block content

  block scripts
    script(type="text/javascript" src="/jquery/jquery.min.js")
    script(type="text/javascript" src="/jquery-match-height/jquery.matchHeight-min.js")
    script(type="text/javascript" src="/materialize/js/materialize.min.js")
    script(type="text/javascript" src="/common/ajax-functions.js")
